@font-face {
    font-family: 'Archivo';
    src: url('/src/assets/fonts/archivo/Archivo-Regular.woff2') format('woff2'),
         url('/src/assets/fonts/archivo/Archivo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
 
  @font-face {
    font-family: 'Chillax';
    src: url('/src/assets/fonts/chillax/Chillax-Regular.woff2') format('woff2'),
         url('/src/assets/fonts/chillax/Chillax-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .bg-custom {
        background-image: url(/src/assets/images/jordan.png); 
        object-fit: cover;
        object-position: center;
    }
    .center-custom {
        display: flex;
        justify-content: center;    
        align-items: center;
    }
    .bg-footer {
        background-image: url(/src/assets/images/george.png); 
        object-fit: cover;
        object-position: center;
    }
    .text-outline-white {
      color: transparent;
      -webkit-text-stroke: 1.5px white;
      -moz-text-stroke:1.5px white;
      line-height: 36px;
        letter-spacing: -4%;
      }
      .text-outline-black {
        color: transparent;
  -webkit-text-stroke: 1.5px black;
  -moz-text-stroke:1.5px black;
  line-height: 36px;
    letter-spacing: -4%;
        }
        .text-classic {
          color: transparent;
  -webkit-text-stroke: 1.5px white;
  -moz-text-stroke:1.5px white;
  line-height: 36px;
    letter-spacing: 40%;
        }
}