@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .bg-custom {
        background-image: url(/src/assets/images/jordan.png); 
        object-fit: cover;
        object-position: center;
        height: 60vh;
    }
    .center-custom {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}